@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
p h1 h2 h3{
	font-family:Arial, Helvetica, sans-serif;
}
input{
	margin: 1% 0% 1% 0%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
}

#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 20.8333%;
	width: 58.3333%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 20.8333%;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 74.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}

#topbar {
	display:inline;
}

#signup {
	width: 50%;
	float:left;
}

#loginform{
	display: inline;
	float: right;
	vertical-align:middle;
	padding-top: 0.6%;
}

#signupform{
	width: 50%;
	float: left;
}

#signupinput{
	padding: 1.5% 0% 1.5% 1%;
	font-size: 1.5em;
	width: 95%;
}

#signupbutton{
	padding: 1.5% 0% 1.5% 1%;
	font-size: 1.5em;
	width: 20%;
	float: right;
}
#textbox{
	float:right;
}

#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

.fullbot{
	background-image: url(../img/bgbot.png);
	background-repeat: repeat;
}

.pitch{
	width: 74.2%;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 1.35% auto auto auto;
}

.pitch h1{
	font-size: 5em;
	text-align:center
}

.pitch p{
	color: #FFF;
}